beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
dataclasses==0.8
decorator==4.4.2
einops==0.2.0
filelock==3.4.1
Flask==2.0.3
Flask-Cors==4.0.1
gdown==4.4.0
idna==3.7
imageio==2.15.0
imgaug==0.4.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.1
lmdb==1.4.1
MarkupSafe==2.0.1
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
opencv-python==4.9.0.80
pdf2image==1.17.0
Pillow==8.4.0
prefetch-generator==1.0.1
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyWavelets==1.1.1
PyYAML==6.0.1
requests==2.27.1
scikit-image==0.17.2
scipy==1.5.4
Shapely==1.8.5.post1
six==1.16.0
soupsieve==2.3.2.post1
tifffile==2020.9.3
torch==1.10.1
torchvision==0.11.2
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.18
vietocr==0.3.11
Werkzeug==2.0.3
zipp==3.6.0
